@model onlineshop.Models.Products

@{
    ViewData["Title"] = "Deleteproduct";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Deleteproduct</h2>

<h3>Are you sure you want to delete this?</h3>
<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <!-- start sidebar -->
            <div class="col-sm-4">
                <div class="carousel slide product-slider" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item active">
                            <figure>
                                <img src="@Model.ProductImg1" alt="">
                            </figure>
                        </div><!-- end item -->
                       
                        <div class="item">
                            <figure>
                                <img src="@Model.ProductImg2" alt="">
                            </figure>
                        </div><!-- end item -->
                        <div class="item">
                            <figure>
                                <img src="@Model.ProductImg3" alt="">
                            </figure>
                        </div><!-- end item -->
                        <!-- Arrows -->
                        <a class="left carousel-control" href=".html" data-slide="prev">
                            <span class="fa fa-angle-left"></span>
                        </a>
                        <a class="right carousel-control" href=".html" data-slide="next">
                            <span class="fa fa-angle-right"></span>
                        </a>
                    </div><!-- end carousel-inner -->
                    <!-- thumbs -->
                    <ol class="carousel-indicators mCustomScrollbar meartlab">
                        <li data-target=".product-slider" data-slide-to="0" class="active"><img src="@Model.ProductImg1" alt=""></li>
                        <li data-target=".product-slider" data-slide-to="1"><img src="@Model.ProductImg2" alt=""></li>
                        <li data-target=".product-slider" data-slide-to="2"><img src="@Model.ProductImg3" alt=""></li>
                  </ol><!-- end carousel-indicators -->
                </div><!-- end carousel -->
            </div><!-- end col -->
            <!-- end sidebar -->
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="title">@Model.ProductTitle</h2>
                        <p class="text-gray alt-font">@Model.ProductCode</p>

                        <ul class="list list-inline">
                            
                            <li><h5 class="text-primary">$@Model.ProductPrice</h5></li>
                            
                            
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->

                <hr class="spacer-5"><hr class="spacer-10 no-border">

                <div class="row">
                    <div class="col-sm-12">
                      <p>@Model.ProductDisc</p>
                        
                    <hr />
                         <a href="/Admin/Confirmdelete?procode=@Model.ProductCode" class="btn btn-default">Conform Delete</a>
                    
                        
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->

     
    </div><!-- end container -->
</section>
